<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>img</key>
		<string>emoji_amazed.png</string>
		<key>title</key>
		<string>惊讶</string>
		<key>value</key>
		<string>7</string>
	</dict>
	<dict>
		<key>img</key>
		<string>emoji_love.png</string>
		<key>title</key>
		<string>桃心</string>
		<key>value</key>
		<string>13</string>
	</dict>
	<dict>
		<key>img</key>
		<string>emoji_query.png</string>
		<key>title</key>
		<string>疑问</string>
		<key>value</key>
		<string>14</string>
	</dict>
	<dict>
		<key>img</key>
		<string>emoji_cry.png</string>
		<key>title</key>
		<string>伤心</string>
		<key>value</key>
		<string>10</string>
	</dict>
	<dict>
		<key>img</key>
		<string>emoji_wink.png</string>
		<key>title</key>
		<string>挤眼</string>
		<key>value</key>
		<string>6</string>
	</dict>
	<dict>
		<key>img</key>
		<string>emoji_yun.png</string>
		<key>title</key>
		<string>眩晕</string>
		<key>value</key>
		<string>15</string>
	</dict>
	<dict>
		<key>img</key>
		<string>emoji_meng.png</string>
		<key>title</key>
		<string>呆萌</string>
		<key>value</key>
		<string>2</string>
	</dict>
	<dict>
		<key>img</key>
		<string>emoji_angry.png</string>
		<key>title</key>
		<string>愤怒</string>
		<key>value</key>
		<string>3</string>
	</dict>
	<dict>
		<key>img</key>
		<string>emoji_fear.png</string>
		<key>title</key>
		<string>恐惧</string>
		<key>value</key>
		<string>9</string>
	</dict>
	<dict>
		<key>img</key>
		<string>emoji_happy.png</string>
		<key>title</key>
		<string>开心</string>
		<key>value</key>
		<string>8</string>
	</dict>
	<dict>
		<key>img</key>
		<string>emoji_sleep.png</string>
		<key>title</key>
		<string>睡觉</string>
		<key>value</key>
		<string>12</string>
	</dict>
	<dict>
		<key>img</key>
		<string>emoji_sweat.png</string>
		<key>title</key>
		<string>汗</string>
		<key>value</key>
		<string>5</string>
	</dict>
</array>
</plist>
