<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>{"data":{"id":0,"session":"","services":["default"],"wakeup":true,"actions":[{"action":"VoiceServer/speak","data":{"type":"0","content":"你瞅啥"},"delay":0,"preaction":-1}],"events":0,"minlen":0}}</string>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>你瞅啥</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>{"data":{"id":0,"session":"","services":["default"],"wakeup":true,"actions":[{"action":"VoiceServer/speak","data":{"type":"0","content":"布丁必有重谢"},"delay":0,"preaction":-1}],"events":0,"minlen":0}}</string>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>布丁必有重谢</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>{"data":{"id":0,"session":"","services":["default"],"wakeup":true,"actions":[{"action":"VoiceServer/speak","data":{"type":"0","content":"吓死宝宝了"},"delay":0,"preaction":-1}],"events":0,"minlen":0}}</string>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>吓死宝宝了</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>{"data":{"id":0,"session":"","services":["default"],"wakeup":true,"actions":[{"action":"VoiceServer/speak","data":{"type":"1","content":"http://dev.roobo.com.cn/media/tts/response06.mp3"},"delay":0,"preaction":-1}],"events":0,"minlen":0}}</string>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>小猪哼哼</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>{"data":{"id":0,"session":"","services":["default"],"wakeup":true,"actions":[{"action":"VoiceServer/speak","data":{"type":"1","content":"http://dev.roobo.com.cn/media/tts/response09.mp3"},"delay":0,"preaction":-1}],"events":0,"minlen":0}}</string>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>周星驰大笑</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>{"data":{"id":0,"session":"","services":["default"],"wakeup":true,"actions":[{"action":"VoiceServer/speak","data":{"type":"1","content":"http://dev.roobo.com.cn/media/tts/response02.mp3"},"delay":0,"preaction":-1}],"events":0,"minlen":0}}</string>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>警报铃</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>{"data":{"id":0,"session":"","services":["default"],"wakeup":true,"actions":[{"action":"VoiceServer/speak","data":{"type":"0","content":"你伤害了我，还一笑而过"},"delay":0,"preaction":-1}],"events":0,"minlen":0}}</string>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>你伤害了我，还一笑而过</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>{"data":{"id":0,"session":"","services":["default"],"wakeup":true,"actions":[{"action":"VoiceServer/speak","data":{"type":"1","content":"http://dev.roobo.com.cn/media/tts/response05.wav"},"delay":0,"preaction":-1}],"events":0,"minlen":0}}</string>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>小羊叫</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>{"data":{"id":0,"session":"","services":["default"],"wakeup":true,"actions":[{"action":"VoiceServer/speak","data":{"type":"0","content":"我也是醉了"},"delay":0,"preaction":-1}],"events":0,"minlen":0}}</string>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>我也是醉了</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>{"data":{"id":0,"session":"","services":["default"],"wakeup":true,"actions":[{"action":"VoiceServer/speak","data":{"type":"0","content":"布丁不介意奉陪到底"},"delay":0,"preaction":-1}],"events":0,"minlen":0}}</string>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>布丁不介意奉陪到底</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
