<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PuddingPlus.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PuddingPushServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Pudding_ADHOC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Pudding_xiaomei.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3822F9CD1D9382DE0087CE32</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>3822F9E61D9382E00087CE32</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>3822F9F11D9382E00087CE32</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>8919977C1F95F88E0058F9B3</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>895FEE711E272EC700B06A1C</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>895FEF5E1E272F0700B06A1C</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
